---
import Layout from "@layouts/Layout.astro";
import { Image, getImage } from "astro:assets";
import vendor from "@assets/vendors/Con_Space_-_Vendor_Hall.png";
import Footer from "@components/Footer.astro";
import Back from "@components/Back.astro";
import { Icon } from "astro-icon/components";

import card from "@assets/cards/vendors.png";

import table1 from "@assets/vendors/1.png";
import table2 from "@assets/vendors/2.png";
import table3 from "@assets/vendors/3.png";
import table4 from "@assets/vendors/4.png";
import table5 from "@assets/vendors/5.png";
import table6 from "@assets/vendors/6.png";
import table7 from "@assets/vendors/7.png";
import table8 from "@assets/vendors/8.png";
import table9 from "@assets/vendors/9.png";
import table10 from "@assets/vendors/10.png";
import table11 from "@assets/vendors/11.png";
import table12 from "@assets/vendors/12.png";
import table13 from "@assets/vendors/13.png";
import table14 from "@assets/vendors/14.png";
import table15 from "@assets/vendors/15.png";
import table16 from "@assets/vendors/16.png";
import table17 from "@assets/vendors/17.png";
import table18 from "@assets/vendors/18.png";
import table19 from "@assets/vendors/19.png";
import table20 from "@assets/vendors/20.png";
import table21 from "@assets/vendors/21.png";
import table22 from "@assets/vendors/22.png";
import table23 from "@assets/vendors/23.png";
import table24 from "@assets/vendors/24.png";
import table25 from "@assets/vendors/25.png";
import table26 from "@assets/vendors/26.png";
import table27 from "@assets/vendors/27.png";
import table28 from "@assets/vendors/28.png";
import table29 from "@assets/vendors/29.png";
import table30 from "@assets/vendors/30.png";

const tables = [
  table1,
  table2,
  table3,
  table4,
  table5,
  table6,
  table7,
  table8,
  table9,
  table10,
  table11,
  table12,
  table13,
  table14,
  table15,
  table16,
  table17,
  table18,
  table19,
  table20,
  table21,
  table22,
  table23,
  table24,
  table25,
  table26,
  table27,
  table28,
  table29,
  table30
]

import pony1 from "@assets/pfp/15.png";

import vendors from "@data/vendors.js";

const optimizedVendor = await getImage({
  src: vendor,
  format: "avif",
  width: 1080,
});

import ad from "@assets/signages/Clopper's Cave - JayArr.png";
---

<Layout title="Mare Fair 2024 | Vendors">
  <section
    class="w-full mx-auto background-texture cursor-default flex flex-col items-center "
  >
    <Back />
    <div
      class="md:px-0 absolute hidden xl:block bottom-0 md:bottom-[5%] md:right-[-2%] rotate-6 z-50"
    >
      <Image
        src={card}
        format="avif"
        height={400}
        style="filter: drop-shadow(0 5px 5px #000); animation: idle 8s var(--sine) 0s infinite forwards;"
        alt="Vendors"
        transition:name="postcard-vendors"
        class="bg-white rounded-lg w-84 z-50"
      />
    </div>
    <a id="ad" style="filter: drop-shadow(0 5px 5px #000);" class="cursor-pointer hover:rotate-1 duration-300 fixed z-50 bottom-auto lg:top-auto top-4 lg:bottom-4 left-auto right-4 lg:right-auto lg:left-8 text-center p-1 w-16 lg:w-24 xl:w-36 text-xs" href="/vendors-ad">
      <Image src={ad} alt="Clopper's Cave" format="avif" width="200" /> 
    </a>
    <div
      class="mt-12 bg-[#fcf1e0] flex flex-col lg:flex-row items-center rotate-0 lg:rotate-3 rounded w-[95%] md:w-[95%] lg:w-[95%] xl:w-[95%] 2xl:w-[80%] lg:aspect-[2.0] h-auto"
      style={`filter: drop-shadow(0 5px 5px #000); background-image: url(${optimizedVendor.src}); background-size: contain; 
      background-repeat: no-repeat;`}
    >
      <div class="w-full lg:w-2/3 aspect-[1.207] relative">
        {
          vendors.map(({ id, left, top, width, height }, i) => (
            <Image id={`table-${i+1}`} format="avif" src={tables[i]} width={800} alt={`Table #${i+1}`} class={`w-full absolute highlight-orange z-0 opacity-0 duration-300`}/> 
            <div
              id={`regular-${id}`}
              style={`left: ${left}%; top: ${top}%; width: ${width}%; height: ${height}%;`}
              class={`table z-10`}
            >
              
            </div>
          ))
        }
      </div>
      <div class="relative w-[90%] lg:min-h-auto min-h-64 px-2 py-4 md:px-0 md:py-8 lg:px-0 lg:py-0 lg:w-1/3 bg-[#fcf1e0] border-t-2 lg:border-t-0 border-l-0 lg:border-l-2 border-black h-[90%] flex flex-col gap-y-2 md:gap-y-4 lg:gap-y-4" >
        <div id="vendor-pfp" style="background-image: url(/pfp/FairFlyerSnowpityPoseCloud.png);" class="bg-cover bg-center absolute top-6 lg:top-0 right-4 md:right-6 lg:right-8 aspect-square h-14 md:h-24 lg:h-14 xl:h-16 2xl:h-20 border border-black bg-transparent">

        </div>
        <div class="px-2 md:px-8 lg:px-4 2xl:px-8 text-2xl md:text-5xl lg:text-3xl 2xl:text-4xl font-bold w-5/6 uppercase tracking-wide" id="vendor-name">
          Mare Fair Vendors
        </div>
        <div class="px-2 md:px-8 lg:px-4 2xl:px-8 text-3xl md:text-4xl lg:text-2xl 2xl:text-3xl flex gap-x-2" id="vendor-socials">
          <a href="" class=" hover:text-blue-300 cursor-pointer">
            <Icon name="mdi:twitter" />
          </a>
          <a href="" class=" hover:text-neutral-400 cursor-pointer">
            <Icon name="mdi:home" />
          </a>
        </div>
        <hr class="border-2 border-black mx-2 md:mx-8 lg:mx-4 2xl:mx-8 mb-0"/>
        <div class="px-2 md:px-8 lg:px-4 2xl:px-8 my-4 leading-snug italic"  id="vendor-desc">
          Hover over a table to view vendor info!
        </div>
        <div class="lg:text-base xl:text-xl 2xl:text-2xl px-0 lg:px-2 2xl:px-4"  id="vendor-selling">
        
        </div>
        <div class="px-0 lg:px-2 2xl:px-4 underline" id="underline">

        </div>
      </div>
    </div>
    <div class="my-8 lg:mt-16 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-3 justify-center w-full xl:px-0 px-2 xl:w-5/6 2xl:w-4/5 gap-8 ">
      {
        vendors.map(({id, name, src, desc, selling }) =>
          <div id={`card-${id}`} class="relative cursor-pointer group hover:bg-orange-500 hover:text-white duration-300 w-full bg-[#fcf1e0] rounded p-8 flex flex-col" style="filter: drop-shadow(0 10px 10px #000); ">
            <div class="flex justify-between mb-4 items-center">
              <div class="text-3xl md:text-3xl lg:text-4xl font-bold uppercase ">{name}</div>
              <div id="vendor-pfp" style={`background-image: url(/pfp/${src});`} class="bg-cover bg-center aspect-square h-14 md:h-14 lg:h-14 xl:h-16 2xl:h-20 border border-black bg-transparent">

              </div>
            </div>
            
            <hr class="border-2 border-black group-hover:border-white duration-300 mb-4"/>
            
            <div class="italic leading-snug text-sm md:text-sm lg:text-base mb-4" set:html={desc}> 
            </div>

            <div class="px-0 text-xs md:text-xs lg:text-sm italic mb-1">This vendor will be selling:</div>
            <ul class='px-4 text-base mb-12'>
              {
                selling.map(item => <li class='my-0.5 text-xs md:text-xs lg:text-sm uppercase font-medium px-2 border-b-2 block border-black group-hover:border-white '>{item}</li>)
              }
            </ul>
            <div class="font-semibold absolute bottom-0 text-center left-0 right-0 mx-auto w-full mb-8 lg:mb-4 text-sm">
              Click this card see this vendor's location!
            </div>
          </div>
        )
      }
    </div>
  </section>
  <Footer />
</Layout>

<style>
  .table {
    @apply text-center flex items-center  justify-center cursor-pointer  absolute;
  }

  .desc {
    @apply my-2 text-xs xl:text-sm 2xl:text-xl;
  }

  .desc-small {
    @apply my-2 text-xs xl:text-sm 2xl:text-base;
  }

</style>

<script>
import tippy from "tippy.js";
import "tippy.js/dist/tippy.css";
import "tippy.js/animations/shift-away-extreme.css";

const vendors = [
  {
    id: "1",
    left: 32,
    top: 69,
    width: 8,
    height: 8,
    name: "SigilPonies",
    src: "sigil.png",
    desc: "Handmade crafts, plush accessories, apparel and on demand laser engravings!",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Apparel (Clothing, shirts, etc)",
      "Wood Burnings/Carvings",
      "Drinkware/Glassware (Flasks, Glasses, shot glasses, etc)",
      "Card games",
      "Stationery (Pens, notebooks, etc)",
      "Pins",
      "Plush accessories (clothes, bags, hats, etc for plushies)",
      "Chryssi horn shaped bottle openers",
    ],
    twitter: "sigilponies",
  },
  {
    id: "2",
    left: 22,
    top: 70,
    width: 8,
    height: 7,
    name: "[PoxyBoxy]",
    src: "poxyboxy.png",
    desc: "Vector art on shirts and posters from cheerful ponies to surreal melancholy, each design reflects Poxyboxy's boundless imagination and love of storytelling.",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Apparel (Clothing, shirts, etc)",
    ],
  },
  {
    id: "3",
    left: 17,
    top: 65,
    width: 6,
    height: 7,
    name: "Rocket's Equine Outpost",
    src: "rocket.png",
    desc: "Pony-inspired trinkets, art, attire, and oddities from artist Rocket-LawnChair",
    selling: [
      "Art Prints/Posters",
      "Apparel (Clothing, shirts, etc)",
      "Wall Scrolls",
      "Pins",
      "Shadow Boxes",
      "Keychains",
    ],
  },
  {
    id: "4",
    left: 16,
    top: 59,
    width: 6,
    height: 7,
    name: "Floralpone's Garden of Mares",
    src: "floral.png",
    desc: "Why hello there stranger. Do you like mares? Do you enjoy watching mares do mare things? do you enjoy their snowpity? Then you came to the right place. At Floral's Garden, all of your dreams are in season and ready to be harvested. We have a variety of waifu materials to be purchased, from prints, stickers, dakis, you name it. Come embrace yourself with mares. Do you have an idea for a drawing you're dying to see come to life? Ask the artist for a commission! Come stop by Floral's Garden of Mares, we promise we won't disappoint.",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Pillowcases",
      "Wall Scrolls",
      "Stationery (Pens, notebooks, etc)",
    ],
    small: true,
  },
  {
    id: "5",
    left: 16.5,
    top: 53.5,
    width: 6,
    height: 6,
    name: "misstwipietwins + glacierclear",
    src: "twipie.png",
    desc: "We sell mare, and mare (and sometimes stallion) accessories.",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Apparel (Clothing, shirts, etc)",
      "Pillowcases",
      "Cereal Boxes",
    ],
  },
  {
    id: "6",
    left: 19,
    top: 47,
    width: 7,
    height: 7,
    name: "Halley & Sweetcreamarts",
    src: "boiler.png",
    desc: "From art and badges, to games, pins and more, we have something for everyone! The core re-print of the famous TSSSF will be here as well as several of the expansions, and even some brand new game projects. Come on by!",
    selling: [
      "Art Prints/Posters",
      "Accessories (Hats, neckwear, socks, etc)",
      "Apparel (Clothing, shirts, etc)",
      "Bags",
      "Pillowcases",
      "Wall Scrolls",
      "Card games",
      "Pins",
    ],
  },
  {
    id: "14",
    left: 67,
    top: 31,
    width: 6.5,
    height: 8,
    name: "1st Awesome Platoon",
    src: "1stawesomeplatoon.png",
    desc: `Since 2011, 1st Awesome Platoon has been delighting thousands with its hilarious comics. Come meet the crew of 1stAP, and capture some limited edition gear. Our Pony themed Merchandise is produced in A MAREica, by proud mares like you and me.
Meticulous attention to craftsmanship and detail is embodied in every piece of equipment that comes out of 1stAP Studios. 1stAP is dedicated to giving back to First Responders, and the Armed Forces.`,
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Apparel (Clothing, shirts, etc)",
      "Drinkware/Glassware (Flasks, Glasses, shot glasses, etc)",
      "Stationery (Pens, notebooks, etc)",
      "Collectibles/Figurines",
      "Comics",
      "Pins",
      "Pony themed medical/first aid kits",
      "Custom 1stap pony uniforms",
    ],
    small: true,
  },
  {
    id: "7",
    left: 21,
    top: 40,
    width: 6,
    height: 7,
    name: "My Little Ties",
    src: "mylittleties.png",
    desc: "My Little Pony inspired ties, bow-ties, lapel pins, flasks, coasters, necklaces, steel and silver jewelry, coins, wallets, mugs, compasses, magnets, sun catchers, keychains, LED badges and more!",
    selling: [
      "Accessories (Hats, neckwear, socks, etc)",
      "Wood Burnings/Carvings",
      "Jewelry (necklaces, earrings, etc)",
      "Drinkware/Glassware (Flasks, Glasses, shot glasses, etc)",
      "Pins",
      "LED Badges",
      "Wallets",
      "Coins",
    ],
  },
  {
    id: "8",
    left: 22,
    top: 34,
    width: 6,
    height: 7,
    name: "ChristoMancer Comics",
    src: "christomancer.gif",
    desc: `Hello! I'm Christomancer and I am the creator of the webcomic <span class='font-bold'>Out of Work Derpy</span>! This is my 1st time at Mare Fair so please be gentle! I have physical copies of my comic for sale along with prints, stickers, buttons, TSSF cards, special Trixie Magic Show Cards and more! I'll also be taking commissions on a first come first served basis! Come on down and say Hi! And if you buy a comic you get a free surprise!`,
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Buttons",
      "Card games",
      "Comics",
      "Pins",
      "Keychains",
      "Bookmarks",
    ],
    small: true,
  },
  {
    id: "26",
    left: 35.5,
    top: 40.5,
    width: 7,
    height: 7.5,
    name: "The Fungeon",
    src: "fungeon.png",
    desc: "Faux stained glass pony windows",
    selling: ["Faux stained glass pony window panes"],
  },
  {
    id: "28",
    left: 42,
    top: 38,
    width: 7,
    height: 8,
    name: "Taurson's Cafe",
    src: "taurson.png",
    desc: "I will be selling keychains, enamel pins, stickers, and lanyards of G4 ponies. I will also be having the Derpy messenger bags for sale too. I will also be taking traditional commissions during the convention.",
    selling: [
      "Art Commissions",
      "Bags",
      "Keychains",
      "Stickers",
      "Enamel Pins",
    ],
  },
  {
    id: "30",
    left: 55,
    top: 38,
    width: 6,
    height: 7,
    name: "Outlaw Works",
    src: "outlaw.png",
    desc: "Various pony fan art to include quilts, shirts and drinkware. Also available are charms, keychains, and decals.",
    selling: [
      "Accessories (Hats, neckwear, socks, etc)",
      "Apparel (Clothing, shirts, etc)",
      "Bags",
      "Buttons",
      "Jewelry (necklaces, earrings, etc)",
      "Drinkware/Glassware (Flasks, Glasses, shot glasses, etc)",
      "Plushies",
      "Card games",
      "Comics",
      "Pins",
      "Quilts and other fabric arts",
    ],
  },
  {
    id: "29",
    left: 49,
    top: 40,
    width: 6,
    height: 7,
    name: "Earth-Pony Creations",
    src: "earthpony.png",
    desc: "Laser cut wood art and cosplay accessories made in collaboration with different artist from the fandom!",
    selling: [
      "Accessories (Hats, neckwear, socks, etc)",
      "Apparel (Clothing, shirts, etc)",
      "Wood Burnings/Carvings",
      "Jewelry (necklaces, earrings, etc)",
      "Collectibles/Figurines",
    ],
  },
  {
    id: "25",
    left: 35,
    top: 48,
    width: 7,
    height: 8,
    name: "MidPrem",
    src: "midnightpremiere.png",
    desc: "hello! I sell posters and buttons in varied sizes, mystery boxes, lanyards and badges, acrylic charms and stickers, tote bags and reversible dice bags, pillowcases, and on-site commissions. come visit my table or else",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Accessories (Hats, neckwear, socks, etc)",
      "Apparel (Clothing, shirts, etc)",
      "Bags",
      "Wood Burnings/Carvings",
      "Buttons",
      "Pillowcases",
      "Stationery (Pens, notebooks, etc)",
      "Pins",
    ],
  },
  {
    id: "9",
    left: 26,
    top: 29,
    width: 7,
    height: 7,
    name: "SaphyPone",
    src: "saphypone.png",
    desc: "I sell a variety of pony merch from stickers to notebooks and lots of traditional art!",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Stationary (Pens, notebooks, etc)",
      "Keychains",
      "Coasters",
      "Stickers",
    ],
  },
  {
    id: "10",
    left: 33,
    top: 24,
    width: 7.5,
    height: 8,
    name: "Gifter's Gifts and Plush",
    src: "Gifters_Gifts_Logo_Official.png",
    desc: "We sell plushies of various sizes!",
    selling: ["Plushies"],
  },
  {
    id: "11",
    left: 40.5,
    top: 24,
    width: 7,
    height: 8,
    name: "Gobiraptor",
    src: "gobi.png",
    desc: "I make a little bit of everything, from dakis to wall scrolls, enamel pins to blankets and more! All featuring artwork by yours truly.",
    selling: [
      "Art Commissions",
      "Bags",
      "Jewelry (necklaces, earrings, etc)",
      "Pillowcases",
      "Wall Scrolls",
      "Stationery (Pens, notebooks, etc)",
      "Pins",
      "Blankets",
    ],
  },
  {
    id: "12",
    left: 47.5,
    top: 26,
    width: 7,
    height: 9,
    name: "Wintre Arts",
    src: "FairFlyerSnowpityPoseCloud.png",
    desc: "Horse <span class='line-through'>plot</span> horse <span class='line-through'>plot</span> horse <span class='line-through'>plot</span> dakis. Come get your <span class='font-bold'>HORSE <span class='line-through'>PLOT</span> DAKI</span>",
    selling: ["Art Prints/Posters", "Pillowcases"],
  },
  {
    id: "18",
    left: 61.5,
    top: 53,
    width: 7,
    height: 8,
    name: "Brony Maker Faire",
    src: "zizzy.png",
    desc: "A little shop of oddities and wonder, where makers present the oddest things and you wonder why we brought it with us.",
    selling: [
      "Accessories (Hats, neckwear, socks, etc)",
      "Apparel (Clothing, shirts, etc)",
      "Wood Burnings/Carvings",
      "Buttons",
      "Ponysuit Parts",
    ],
  },
  {
    id: "24",
    left: 29,
    top: 50,
    width: 7,
    height: 7,
    name: "BABSCon",
    src: "babscon.png",
    desc: "Come to BABSCon! We're cool now!",
    selling: [
      "Accessories (Hats, neckwear, socks, etc)",
      "Pins",
      "Promotional (promoting a product, idea, etc)",
    ],
  },
  {
    id: "13",
    left: 56,
    top: 29,
    width: 10,
    height: 8,
    name: "The Equine Emporium",
    src: "Equine_Emporium.png",
    desc: "A bevy of wildly different items from various different artists, ranging from stickers and prints to hand crafted statues and novelty items",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Accessories (Hats, neckwear, socks, etc)",
      "Apparel (Clothing, shirts, etc)",
      "Buttons",
      "Pillowcases",
      "Handmade goods (please specify below)",
      "Sculpted statues",
    ],
  },
  {
    id: "15",
    left: 70,
    top: 36,
    width: 7,
    height: 7.5,
    name: "AZGchip Plushies",
    src: "azgchip.png",
    desc: "plushies",
    selling: ["Plushies"],
  },
  {
    id: "16",
    left: 73.5,
    top: 42,
    width: 7,
    height: 7,
    name: "snowpity.shop",
    src: "snowpity.png",
    desc: "Only a very small part of a mare's snowpity can be contained, and even this tiny portion is exceptionally strong to the human nose. Changelings have found a sustainable and humane way to export this fragment of snowpity to earth. The Friendship is Magic documentary has done many things, but is lacking in the sniff department. My products cleanse the human body and instill this tiny fragment of mare to show just how much is missing in our world.",
    selling: ["Hoof-made soap", "Fragrance spray"],
    small: true,
  },
  {
    id: "17",
    left: 67.5,
    top: 45,
    width: 7,
    height: 7,
    name: "Equestrian Imports",
    src: "equestrian.png",
    desc: "We are a group of Anons who through the power of friendship bring numerous Equestrian collectables and coinage to Mare Fair.",
    selling: [
      "Accessories (Hats, neckwear, socks, etc)",
      "Collectibles/Figurines",
      "Coins",
      "Holo cards",
      "Equestrian newspapers",
      "House key blanks",
    ],
  },
  {
    id: "19",
    left: 52.5,
    top: 58,
    width: 7,
    height: 8,
    name: "Blue Fast Studios",
    src: "FairFlyerSnowpityPoseCloud.png",
    desc: "3D printed MARES",
    selling: ["Collectibles/Figurines"],
  },
  {
    id: "20",
    left: 32,
    top: 57,
    width: 7.5,
    height: 8,
    name: "Fallen Oak Equine Rescue",
    src: "fallenoak.png",
    desc: "Fallen Oak Equine Rescue and Rehabilitation, Inc. is located on 7 acres in beautiful Belleview, Florida. We currently operate out of a five-stall barn, a pasture for grazing, and a round pen for training and evaluating rescued horses. We rely on our devoted foster homes to help us transition horses from our facility to their forever home, and to help us when numbers of horses in-need force us to overflow. We couldn't do what we do without our team of foster parents!",
    selling: ["Mares"],
    small: true,
  },
  {
    id: "21",
    left: 40,
    top: 51,
    width: 10,
    height: 9,
    name: "Fannytastical",
    src: "fannytastical.png",
    desc: "jargon scott smells",
    selling: [
      "Apparel (Clothing, shirts, etc)",
      "Buttons",
      "Pillowcases",
      "Pins",
      "Shadow Boxes",
    ],
  },
  {
    id: "22",
    left: 50,
    top: 47,
    width: 7,
    height: 8,
    name: "Pony Express Patches",
    src: "ponyexpress.png",
    desc: "Selling patches and scarves for all the Anons",
    selling: ["Accessories (Hats, neckwear, socks, etc)", "Patches"],
  },
  {
    id: "23",
    left: 57,
    top: 44,
    width: 6,
    height: 8,
    name: "Andelaiart",
    src: "andelaiart.png",
    desc: "The variety may not be wide. But the mares surely are.",
    selling: [
      "Art Prints/Posters",
      "Art Commissions",
      "Apparel (Clothing, shirts, etc)",
      "Bags",
      "Pillowcases",
      "Keychains",
      "Acrylic standees",
    ],
  },
  {
    id: "27",
    left: 32,
    top: 34,
    width: 12,
    height: 7,
    name: "StudioWhy",
    src: "Why_Square.png",
    desc: `We are purveyors of all forms of mare-related merchandise, from plushies to pins to posters.
"Why Not" stop on by and grab yourself one (or nine) of Pony Joe's Premium Plush Pony Donuts? Or give a tiarawhy Squeaky Bat a good home?`,
    selling: [
      "Art Prints/Posters",
      "Apparel (Clothing, shirts, etc)",
      "Buttons",
      "Plushies",
      "Stickers",
      "Pins",
      "Lenticular art prints"
    ],
  },
];


document.addEventListener("astro:page-load", () => {
  const ad = document.getElementById("ad");
  if (window.innerWidth <= 1280 && ad) {
    window.addEventListener('scroll', () => {
      const appear = 20;
      if (window.pageYOffset <= appear) {
        // If more show the element
        ad.style.opacity = '1'
        ad.style.pointerEvents = 'all'
      } else {
        // Else hide it
        ad.style.opacity = '0'
        ad.style.pointerEvents = 'none'
      }
    });
  }
  if (ad) {
    tippy(ad, {
      content: `<span class='font-medium'>After-dark vendor hall (18+)</span>`,
      placement: "top",
      animation: "shift-away-extreme",
      allowHTML: true,
    });
  }

  let activeID;
  vendors.forEach(({id, left, top, width, height, name, src, desc, selling, small=false}) => {
    if (document.getElementById(`regular-${id}`)) {
      const tooltip = tippy(document.getElementById(`regular-${id}`), {
        content: `<span class='font-medium uppercase tracking-wide text-lg'>${name}</span>`,
        placement: "top",
        animation: "shift-away-extreme",
        allowHTML: true,
      });

      const highlight = () => {
        if (activeID) {
          document.getElementById(`table-${activeID}`).style.opacity = 0;
        }
        document.getElementById(`table-${id}`).style.opacity = 1;
        document.getElementById("vendor-name").innerHTML = name;
        if (desc) {
          document.getElementById("vendor-desc").innerHTML = '"' + desc + '"';
          if (small) {
            document.getElementById("vendor-desc").classList.add("desc-small")
            document.getElementById("vendor-desc").classList.remove("desc")
          } else {
            document.getElementById("vendor-desc").classList.add("desc")
            document.getElementById("vendor-desc").classList.remove("desc-small")
          }
        }
        document.getElementById("vendor-pfp").style.backgroundImage = `url(/pfp/${src})`;

        
        if (selling) {
          const ulContent = selling.map(item => `<li class='my-0.5 uppercase lg:text-xs xl:text-sm 2xl:text-base text-xs font-medium lg:px-2 border-b-2 block border-black'>${item}</li>`).join('');
          const ul = `
            <div class="px-2 xl:px-4 text-sm xl:text-base italic mb-2 lg:mb-2">This vendor will be selling:</div><ul class='px-6 text-base'>${ulContent}</ul>
          `;
          document.getElementById("vendor-selling").innerHTML = ul;
        } else {
          document.getElementById("vendor-selling").innerHTML = "";
        }
        activeID = id;
      };
      
      document.getElementById(`regular-${id}`).addEventListener("mouseenter", () => {
        highlight();
      });
      document.getElementById(`card-${id}`).addEventListener("click", () => {
        highlight();
        window.scrollTo({ top: 0, behavior: 'smooth'});
        tooltip.show();
      });
    }
  });
});
</script>