---
const { id, image_url, href, type, alt, enabled = true } = Astro.props;
import { Image } from "astro:assets";
const images = import.meta.glob("../assets/cards/*");

const angles = {
  main: 5,
  register: -3,
  apply: 5,
  venue: -5,
  scrapbook: 9,
  mascots: -5,
  contact: 3,
  coc: 2,
  credits: -3,
  schedule: -5,
  vendors: 3,
  musicians: -2,
  map: 3,
};

const z = {
  main: 10,
  register: 40,
  apply: 30,
  venue: 30,
  scrapbook: 20,
  mascots: 30,
  contact: 20,
  coc: 10,
  credits: 40,
  schedule: 10,
  vendors: 20,
  musicians: 10,
  map: 30,
};
---

<div
  style=`rotate: ${angles[id]}deg;`
  class=`z-${z[id]} max-h-120 sm:max-h-72 md:max-h-80 lg:max-h-80 xl:max-h-104 2xl:max-h-120 flex flex-col items-center justify-center mx-2 my-0 md:mx-2 md:my-0 ${enabled ? 'md:hover:scale-[1.05]' : ''} ${enabled ? (type === '0' ? 'hover:-rotate-3' : 'hover:rotate-3') : ''} duration-500`
>
  {
    enabled ? (
      <a href={href} class="pointer">
        <div
          style="filter: drop-shadow(0 2px 2px #000);"
          transition:name={`postcard-${id}`}
        >
          <Image
            class="magic rounded-lg relative max-h-104 sm:max-h-80 md:max-h-80 lg:max-h-80 xl:max-h-104 2xl:max-h-120 w-auto"
            src={images[image_url]()}
            alt={alt}
            height={600}
            format="avif"
          />
        </div>
      </a>
    ) : (
      <div
        style="filter: drop-shadow(0 2px 2px #000) brightness(60%) grayscale(100) hue-rotate(0deg);"
        transition:name={`postcard-${id}`}
        class="cursor-not-allowed"
      >
        <Image
          class="rounded-lg relative"
          src={images[image_url]()}
          alt={alt}
          height={600}
          format="avif"
        />
      </div>
    )
  }
</div>
